TXNewHouseSearchIndexInit/TXCommons/Web References/com.w_99bill.sandbox/BatchPayWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://www.99bill.com/apipay/services/BatchPayWS" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://complatible.dto.domain.seashell.bill99.com" xmlns:impl="http://www.99bill.com/apipay/services/BatchPayWS" targetNamespace="http://www.99bill.com/apipay/services/BatchPayWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://complatible.dto.domain.seashell.bill99.com">
      <xsd:import namespace="http://www.99bill.com/apipay/services/BatchPayWS" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="BankRequestBean">
        <xsd:sequence>
          <xsd:element name="amount" type="xsd:double" />
          <xsd:element name="bankCardNumber" nillable="true" type="soapenc:string" />
          <xsd:element name="bankName" nillable="true" type="soapenc:string" />
          <xsd:element name="creditName" nillable="true" type="soapenc:string" />
          <xsd:element name="description" nillable="true" type="soapenc:string" />
          <xsd:element name="kaihuhang" nillable="true" type="soapenc:string" />
          <xsd:element name="mac" nillable="true" type="soapenc:string" />
          <xsd:element name="orderId" nillable="true" type="soapenc:string" />
          <xsd:element name="province_city" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BankResponseBean">
        <xsd:sequence>
          <xsd:element name="amount" type="xsd:double" />
          <xsd:element name="bankCardNumber" nillable="true" type="soapenc:string" />
          <xsd:element name="bankName" nillable="true" type="soapenc:string" />
          <xsd:element name="creditCharge" type="xsd:double" />
          <xsd:element name="creditName" nillable="true" type="soapenc:string" />
          <xsd:element name="dealCharge" type="xsd:double" />
          <xsd:element name="dealId" nillable="true" type="soapenc:string" />
          <xsd:element name="debitCharge" type="xsd:double" />
          <xsd:element name="description" nillable="true" type="soapenc:string" />
          <xsd:element name="failureCause" nillable="true" type="soapenc:string" />
          <xsd:element name="kaihuhang" nillable="true" type="soapenc:string" />
          <xsd:element name="mac" nillable="true" type="soapenc:string" />
          <xsd:element name="orderId" nillable="true" type="soapenc:string" />
          <xsd:element name="province_city" nillable="true" type="soapenc:string" />
          <xsd:element name="resultFlag" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SimpleRequestBean">
        <xsd:sequence>
          <xsd:element name="amount" type="xsd:double" />
          <xsd:element name="correctName" nillable="true" type="soapenc:string" />
          <xsd:element name="creditContact" nillable="true" type="soapenc:string" />
          <xsd:element name="creditName" nillable="true" type="soapenc:string" />
          <xsd:element name="currencyCode" nillable="true" type="soapenc:string" />
          <xsd:element name="description" nillable="true" type="soapenc:string" />
          <xsd:element name="mac" nillable="true" type="soapenc:string" />
          <xsd:element name="orderId" nillable="true" type="soapenc:string" />
          <xsd:element name="tempAccount" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SimpleResponseBean">
        <xsd:sequence>
          <xsd:element name="amount" type="xsd:double" />
          <xsd:element name="correctName" nillable="true" type="soapenc:string" />
          <xsd:element name="creditAccount" nillable="true" type="soapenc:string" />
          <xsd:element name="creditCharge" type="xsd:double" />
          <xsd:element name="creditContact" nillable="true" type="soapenc:string" />
          <xsd:element name="creditName" nillable="true" type="soapenc:string" />
          <xsd:element name="currencyCode" nillable="true" type="soapenc:string" />
          <xsd:element name="dealCharge" type="xsd:double" />
          <xsd:element name="dealId" nillable="true" type="soapenc:string" />
          <xsd:element name="debitCharge" type="xsd:double" />
          <xsd:element name="description" nillable="true" type="soapenc:string" />
          <xsd:element name="emailId" nillable="true" type="soapenc:string" />
          <xsd:element name="failureCause" nillable="true" type="soapenc:string" />
          <xsd:element name="mac" nillable="true" type="soapenc:string" />
          <xsd:element name="mobile" nillable="true" type="soapenc:string" />
          <xsd:element name="orderId" nillable="true" type="soapenc:string" />
          <xsd:element name="resultFlag" type="xsd:boolean" />
          <xsd:element name="tempAccount" nillable="true" type="soapenc:string" />
          <xsd:element name="unregister" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PostRequestBean">
        <xsd:sequence>
          <xsd:element name="address" nillable="true" type="soapenc:string" />
          <xsd:element name="amount" type="xsd:double" />
          <xsd:element name="creditName" nillable="true" type="soapenc:string" />
          <xsd:element name="description" nillable="true" type="soapenc:string" />
          <xsd:element name="mac" nillable="true" type="soapenc:string" />
          <xsd:element name="orderId" nillable="true" type="soapenc:string" />
          <xsd:element name="postcode" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PostResponseBean">
        <xsd:sequence>
          <xsd:element name="address" nillable="true" type="soapenc:string" />
          <xsd:element name="amount" type="xsd:double" />
          <xsd:element name="creditCharge" type="xsd:double" />
          <xsd:element name="creditName" nillable="true" type="soapenc:string" />
          <xsd:element name="dealCharge" type="xsd:double" />
          <xsd:element name="dealId" nillable="true" type="soapenc:string" />
          <xsd:element name="debitCharge" type="xsd:double" />
          <xsd:element name="description" nillable="true" type="soapenc:string" />
          <xsd:element name="failureCause" nillable="true" type="soapenc:string" />
          <xsd:element name="mac" nillable="true" type="soapenc:string" />
          <xsd:element name="orderId" nillable="true" type="soapenc:string" />
          <xsd:element name="postcode" nillable="true" type="soapenc:string" />
          <xsd:element name="resultFlag" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QueryRequestBean">
        <xsd:sequence>
          <xsd:element name="dealBeginDate" nillable="true" type="soapenc:string" />
          <xsd:element name="dealEndDate" nillable="true" type="soapenc:string" />
          <xsd:element name="dealId" nillable="true" type="soapenc:string" />
          <xsd:element name="orderId" nillable="true" type="soapenc:string" />
          <xsd:element name="queryType" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QueryResponseBean">
        <xsd:sequence>
          <xsd:element name="amount" type="xsd:double" />
          <xsd:element name="dealBeginDate" nillable="true" type="soapenc:string" />
          <xsd:element name="dealEndDate" nillable="true" type="soapenc:string" />
          <xsd:element name="dealFee" type="xsd:double" />
          <xsd:element name="dealId" nillable="true" type="soapenc:string" />
          <xsd:element name="dealStatus" nillable="true" type="soapenc:string" />
          <xsd:element name="failureCause" nillable="true" type="soapenc:string" />
          <xsd:element name="orderId" nillable="true" type="soapenc:string" />
          <xsd:element name="queryType" nillable="true" type="soapenc:string" />
          <xsd:element name="resultFlag" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.99bill.com/apipay/services/BatchPayWS">
      <xsd:import namespace="http://complatible.dto.domain.seashell.bill99.com" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_tns1_BankRequestBean">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:BankRequestBean[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_BankResponseBean">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:BankResponseBean[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_SimpleRequestBean">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:SimpleRequestBean[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_SimpleResponseBean">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:SimpleResponseBean[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_PostRequestBean">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:PostRequestBean[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_PostResponseBean">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:PostResponseBean[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_QueryResponseBean">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:QueryResponseBean[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="simplePayRequest">
    <wsdl:part name="input" type="impl:ArrayOf_tns1_SimpleRequestBean" />
    <wsdl:part name="username" type="soapenc:string" />
    <wsdl:part name="ip" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="queryDealResponse">
    <wsdl:part name="queryDealReturn" type="impl:ArrayOf_tns1_QueryResponseBean" />
  </wsdl:message>
  <wsdl:message name="queryDealRequest">
    <wsdl:part name="input" type="tns1:QueryRequestBean" />
    <wsdl:part name="username" type="soapenc:string" />
    <wsdl:part name="ip" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="postPayResponse">
    <wsdl:part name="postPayReturn" type="impl:ArrayOf_tns1_PostResponseBean" />
  </wsdl:message>
  <wsdl:message name="postPayRequest">
    <wsdl:part name="input" type="impl:ArrayOf_tns1_PostRequestBean" />
    <wsdl:part name="username" type="soapenc:string" />
    <wsdl:part name="ip" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="bankPayResponse">
    <wsdl:part name="bankPayReturn" type="impl:ArrayOf_tns1_BankResponseBean" />
  </wsdl:message>
  <wsdl:message name="simplePayResponse">
    <wsdl:part name="simplePayReturn" type="impl:ArrayOf_tns1_SimpleResponseBean" />
  </wsdl:message>
  <wsdl:message name="bankPayRequest">
    <wsdl:part name="input" type="impl:ArrayOf_tns1_BankRequestBean" />
    <wsdl:part name="username" type="soapenc:string" />
    <wsdl:part name="ip" type="soapenc:string" />
  </wsdl:message>
  <wsdl:portType name="BatchPay">
    <wsdl:operation name="bankPay" parameterOrder="input username ip">
      <wsdl:input name="bankPayRequest" message="impl:bankPayRequest" />
      <wsdl:output name="bankPayResponse" message="impl:bankPayResponse" />
    </wsdl:operation>
    <wsdl:operation name="simplePay" parameterOrder="input username ip">
      <wsdl:input name="simplePayRequest" message="impl:simplePayRequest" />
      <wsdl:output name="simplePayResponse" message="impl:simplePayResponse" />
    </wsdl:operation>
    <wsdl:operation name="postPay" parameterOrder="input username ip">
      <wsdl:input name="postPayRequest" message="impl:postPayRequest" />
      <wsdl:output name="postPayResponse" message="impl:postPayResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryDeal" parameterOrder="input username ip">
      <wsdl:input name="queryDealRequest" message="impl:queryDealRequest" />
      <wsdl:output name="queryDealResponse" message="impl:queryDealResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BatchPayWSSoapBinding" type="impl:BatchPay">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="bankPay">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="bankPayRequest">
        <wsdlsoap:body use="encoded" namespace="http://compatible.api.seashell.bill99.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="bankPayResponse">
        <wsdlsoap:body use="encoded" namespace="http://www.99bill.com/apipay/services/BatchPayWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="simplePay">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="simplePayRequest">
        <wsdlsoap:body use="encoded" namespace="http://compatible.api.seashell.bill99.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="simplePayResponse">
        <wsdlsoap:body use="encoded" namespace="http://www.99bill.com/apipay/services/BatchPayWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postPay">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="postPayRequest">
        <wsdlsoap:body use="encoded" namespace="http://compatible.api.seashell.bill99.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="postPayResponse">
        <wsdlsoap:body use="encoded" namespace="http://www.99bill.com/apipay/services/BatchPayWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryDeal">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="queryDealRequest">
        <wsdlsoap:body use="encoded" namespace="http://compatible.api.seashell.bill99.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="queryDealResponse">
        <wsdlsoap:body use="encoded" namespace="http://www.99bill.com/apipay/services/BatchPayWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BatchPayService">
    <wsdl:port name="BatchPayWS" binding="impl:BatchPayWSSoapBinding">
      <wsdlsoap:address location="http://www.99bill.com/apipay/services/BatchPayWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>