ConsoleApplication2/ConsoleApplication2/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://jaxwsService.duanzq.com/" targetNamespace="http://jaxwsService.duanzq.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Test1" type="tns:Test1" />
  <xs:element name="Test1Response" type="tns:Test1Response" />
  <xs:complexType name="Test1">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Test1Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>